@import url('https://fonts.googleapis.com/css?family=Pacifico');

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

html,
body {
  background: #f5f8fa;
  height: 100%;
}

/* -------------------------------------------------------------------------- */
/* Structure
/* -------------------------------------------------------------------------- */

#root {
  height: 100%;
}

.app-container {
  height: 100%;
}

.main-container {
  height: 100%;
  min-height: 100%;
  padding: 60px 0 0 0;
}

.dashboard-container {
  height: 100%;
  min-height: 100%;
}

.session {
  height: 100%;
}

.session-container {
  height: 100%;
}

.session-description {
  float: left;
  height: 100%;
  overflow-x: scroll;
  padding: 20px;
  width: 25%;
}

.session-description h3 {
  margin-top: 0;
}

.session-description h4:hover {
  color: #5bc0de;
  cursor: pointer;
}

.session-description p {
  margin-bottom: 20px;
}

.session-main {
  float: left;
  height: 100%;
  position: relative;
  width: 75%;
}

.editor-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.editor-buttons {
  position: absolute;
  right: 20px;
  bottom: 25px;
}

.editor-buttons button {
  margin: 0 10px 0 0;
}

.editor-buttons button:last-child {
  margin-right: 0;
}

.video-container {
  max-width: 420px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
}

.video-wrapper {
  height: 0;
  padding-bottom: 66.66%; /* 4:3 */
  position: relative;
}

.video-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.video-container .Embed-main {
  border: 0;
}

.footer {
  background: #fff;
  height: 60px;
  margin: 40px 0 0 0;
}

.footer p {
  margin: 20px 0;
}

.navbar-search {
  margin: 8px auto;
  width: 300px;
}

.navbar-search input[type="text"] {
  margin: 0 0 5px 0;
  text-align: center;
}

.navbar-search .panel {
  position: absolute;
  width: 300px;
}

/* -------------------------------------------------------------------------- */
/* Bootstrap Overrides
/* -------------------------------------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 300;
  margin-bottom: 20px;
}

.container {
  width: 970px !important;
}

.session-container {
  width: 970px;
}

.navbar {
  position: absolute;
  width: 970px;
}

.navbar-brand {
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
}

.navbar .container {
  width: 100% !important;
}

.modal-footer {
  margin-top: 0;
}

.session-description .panel {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.session-description .panel-body {
  padding: 0;
}

.footer {
  width: 970px;
}

.footer .container {
  width: 100% !important;
}

@media (min-width: 992px) {
  .navbar {
    position: fixed;
    width: 100%;
  }

  .session-container {
    width: 100%;
  }

  .footer {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }

  .navbar {
    position: fixed;
    width: 100%;
  }
}

.table {
  background-color: #fff;
  margin-bottom: 0;
}

.table-bordered {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.panel {
  margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/* Session
/* -------------------------------------------------------------------------- */

.ReactCodeMirror {
  height: 100%;
  width: 100%;
}

.CodeMirror {
  height: 100%;
}

.console {
  background-color: #263238;
  color: #fff;
  font-family: monospace;
  font-size: 13px;
  padding: 10px 15px;
  height: 100%;
  width: 100%;
}

.arrow {
  color: #82b1ff;
  font-size: 11px;
  margin: 0 10px 0 0;
}

.testPass {
  color: #80cbc4;
}

.testFail {
  color: #f77669;
}

/* -------------------------------------------------------------------------- */
/* Miscellaneous
/* -------------------------------------------------------------------------- */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
