.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

html,
body {
  background: #f5f8fa;
  height: 100%;
}

/* -------------------------------------------------------------------------- */
/* Structure
/* -------------------------------------------------------------------------- */

#root {
  height: 100%;
}

.app-container {
  height: 100%;
}

.main-container {
  height: 100%;
  margin: 0 0 40px 0;
  padding: 60px 0 0 0;
}

.session {
  height: 100%;
}

.session-container {
  height: 100%;
}

.session-description {
  float: left;
  height: 100%;
  width: 25%;
}

.session-main {
  float: left;
  height: 100%;
  position: relative;
  width: 75%;
}

.editor-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.editor-buttons {
  position: absolute;
  right: 20px;
  bottom: 25px;
}

.editor-buttons button {
  margin: 0 10px 0 0;
}

.editor-buttons button:last-child {
  margin-right: 0;
}

.video-container {
  position: absolute;
  right: 20px;
  top: 20px;
}

.footer {
  background: #fff;
  height: 60px;
}

.footer p {
  margin: 20px 0;
}

/* -------------------------------------------------------------------------- */
/* Bootstrap Overrides
/* -------------------------------------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 300;
  margin-bottom: 20px;
}

.table {
  background-color: #fff;
}

.table-bordered {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.panel {
  margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/* Session
/* -------------------------------------------------------------------------- */

.ReactCodeMirror {
  height: 100%;
  width: 100%;
}

.CodeMirror {
  height: 100%;
}

.console {
  background-color: #f7f3ef;
  height: 100%;
  width: 100%;
}

.testDescription {
  font-weight: bold;
}

.testContainer {
  margin-left: 5px;
}

.testPass {
  color: #35e21b;
}

.testFail {
  color: #f91111;
}
