<!doctype html>
<html>
<head>
    <title>Code with Friends | Peared.io</title>
    <script>
        const protocol = window.location.protocol;
        const hostname = window.location.hostname;
        if ((hostname !== '127.0.0.1' || hostname !== 'localhost') && protocol === 'http:') {
            location.href = 'https://' + hostname;
        }
    </script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.27.4/theme/material.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.14/beautify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.14/beautify.min.js"></script>
    <script src="https://cdn.rawgit.com/beautify-web/js-beautify/v1.6.14/js/lib/beautify.js"></script>

    <link rel="stylesheet" href="assets/main.css">
    <link rel="stylesheet" href="assets/pane.css">

    <link rel="shortcut icon" href="assets/p.ico">

    <style>
        body
    </style>
</head>
<body>