<!doctype html>
<html>

<head>
    <title>Code with Friends | Peared.io</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,700,800" rel="stylesheet">
    <link rel="shortcut icon" href="assets/p.ico">
    <link rel="stylesheet" href="assets/index.css">
</head>

<body>
    <div id="hero">
        <div id="nav2">
            <h2 id="logo">Peared.io</h2>
            <div id="nav"><a href="/login" id="loginstyle"><h5 id="navItem">login</h5></a></div>
        </div>
        <hr width='94%'>
        <div id="headlinecontainer"><h1 id="headline">Partner up and become code masters.</h2></div>
        <div id="subheadlinecontainer"><h5 id='subheadline'>Peared.io pairs two programmers together using video chat and a shared coding problem prompt.</h5></div>
      <button id="button">sign up</button>
    </div>

    <div id="screenshot">
      <h5 id="question">What is Paired.io?</h5>
      <div class="row">
        <div class="column1">
          <img src="assets/s.png" class="display"></img>
        </div>
        <div class="column2">
          <h5 class="featuretitle">Add Friends</h5>
          <p class='featuredescription'>Send friend requests to users and invite them to a session or let us pair you up with a random person or a similar ranking.</p>
        </div>
      </div>
      <div class="row">
        <div class="column1">
          <img src="assets/s.png" class="display"></img>
        </div>
        <div class="column2">
          <h5 class="featuretitle">Earn Points and Rankings</h5>
          <p class='featuredescription'>With each session, earn points to advance your ranking and see where you stack up with the Peared community.</p>
        </div>
      </div>
      <div class="row">
        <div class="column1">
          <img src="assets/s.png" class="display"></img>
        </div>
        <div class="column2">
          <h5 class="featuretitle">Test Your Code</h5>
          <p class='featuredescription'>Every question comes with its own tests. Click the RUN button to see if your implementation is perfect or needs refactoring.</p>
        </div>
      </div>
    </div>

    <div id="info">
      <div id="features">
        <div id="feature1">
          <?xml version="1.0" encoding="iso-8859-1"?>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g>
                <defs>
                  <linearGradient id="gradient">
                    <stop offset="0%" stop-color="#3acfd5" />
                    <stop offset="100%" stop-color="#3a4ed5" />
                  </linearGradient>
                </defs>
              <path d="M469.244,213.244C469.244,95.661,373.584,0,256,0S42.756,95.661,42.756,213.244c0,106.128,77.933,194.385,179.574,210.577
                v22.283l-72.192,14.439c-7.717,1.542-13.32,8.375-13.32,16.246v18.643c0,9.136,7.432,16.568,16.568,16.568h205.228
                c9.136,0,16.568-7.432,16.568-16.568v-18.644c0-7.87-5.602-14.703-13.318-16.246l-72.193-14.439v-22.283
                C391.311,407.629,469.244,319.373,469.244,213.244z M358.72,476.265c0.248,0.05,0.429,0.27,0.429,0.524v18.644
                c0,0.295-0.239,0.534-0.534,0.534H153.386c-0.295,0-0.534-0.239-0.534-0.534v-18.644c0-0.253,0.181-0.474,0.43-0.524
                l77.859-15.572h49.72L358.72,476.265z M238.363,444.66v-18.906c5.818,0.479,11.698,0.734,17.637,0.734s11.819-0.257,17.637-0.734
                v18.906H238.363z M256,410.455c-108.743,0-197.211-88.468-197.211-197.211S147.257,16.033,256,16.033
                s197.211,88.468,197.211,197.211S364.743,410.455,256,410.455z"/></g></g><g><g>
              <path d="M256,119.716c-51.572,0-93.528,41.956-93.528,93.528s41.956,93.528,93.528,93.528s93.528-41.956,93.528-93.528
                S307.572,119.716,256,119.716z M256,290.739c-42.731,0-77.495-34.764-77.495-77.495s34.764-77.495,77.495-77.495
                s77.495,34.764,77.495,77.495S298.731,290.739,256,290.739z"/></g></g><g><g>
              <path d="M256,153.921c-32.711,0-59.324,26.612-59.324,59.324s26.612,59.324,59.324,59.324s59.324-26.612,59.324-59.324
                S288.711,153.921,256,153.921z M256,256.534c-23.871,0-43.29-19.42-43.29-43.29s19.42-43.29,43.29-43.29s43.29,19.42,43.29,43.29
                S279.871,256.534,256,256.534z"/></g></g><g><g>
              <path d="M256,42.756c-13.851,0-25.119,11.268-25.119,25.119S242.149,92.994,256,92.994s25.119-11.268,25.119-25.119
                S269.851,42.756,256,42.756z M256,76.96c-5.01,0-9.086-4.076-9.086-9.086s4.076-9.086,9.086-9.086s9.086,4.076,9.086,9.086
                C265.086,72.885,261.01,76.96,256,76.96z"/></g></g><g><g>
              <path d="M256,188.125c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017c5.01,0,9.086,4.076,9.086,9.086
                c0,4.427,3.589,8.017,8.017,8.017s8.017-3.589,8.017-8.017C281.119,199.394,269.851,188.125,256,188.125z"/>
              </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          <h4 class="featureTitle">Video Chat</h4>
          <div id='descriptionContainer'><p class="description">Located apart from your pair? No worries. Communicate over video chat.</p></div>
        </div>
        <div id="feature1">
          <?xml version="1.0" encoding="iso-8859-1"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><g>
            <defs>
              <linearGradient id="gradient">
                <stop offset="0%" stop-color="#3acfd5" />
                <stop offset="100%" stop-color="#3a4ed5" />
              </linearGradient>
            </defs>
            <path d="M486.4,0H25.6C11.486,0,0,11.486,0,25.6v51.2v409.6C0,500.514,11.486,512,25.6,512h460.8c14.114,0,25.6-11.486,25.6-25.6
              V76.8V25.6C512,11.486,500.514,0,486.4,0z M17.067,25.6c0-4.71,3.823-8.533,8.533-8.533h460.8c4.71,0,8.533,3.823,8.533,8.533
              v42.667H17.067V25.6z M494.933,486.4c0,4.71-3.823,8.533-8.533,8.533H25.6c-4.71,0-8.533-3.823-8.533-8.533V85.333h477.867V486.4
              z"/>
            <path d="M42.667,34.133c-4.719,0-8.533,3.814-8.533,8.533s3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533
              S47.386,34.133,42.667,34.133z"/>
            <path d="M76.8,34.133c-4.719,0-8.533,3.814-8.533,8.533S72.081,51.2,76.8,51.2s8.533-3.814,8.533-8.533
              S81.519,34.133,76.8,34.133z"/>
            <path d="M110.933,34.133c-4.719,0-8.533,3.814-8.533,8.533s3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533
              S115.652,34.133,110.933,34.133z"/>
            <path d="M256,256c4.719,0,8.533-3.814,8.533-8.533s-3.814-8.533-8.533-8.533s-8.533,3.814-8.533,8.533S251.281,256,256,256z"/>
            <path d="M179.2,310.733v30.601c0,18.825,15.309,34.133,34.133,34.133c4.719,0,8.533-3.814,8.533-8.533s-3.814-8.533-8.533-8.533
              c-9.412,0-17.067-7.654-17.067-17.067V307.2c0-2.27-0.896-4.437-2.5-6.033l-11.034-11.034l11.034-11.034
              c1.604-1.596,2.5-3.763,2.5-6.033v-34.133c0-9.412,7.654-17.067,17.067-17.067c4.719,0,8.533-3.814,8.533-8.533
              c0-4.719-3.814-8.533-8.533-8.533c-18.825,0-34.133,15.309-34.133,34.133v30.601L164.634,284.1c-3.337,3.337-3.337,8.73,0,12.066
              L179.2,310.733z"/>
            <path d="M315.733,307.2v34.133c0,9.412-7.654,17.067-17.067,17.067c-4.719,0-8.533,3.814-8.533,8.533s3.814,8.533,8.533,8.533
              c18.825,0,34.133-15.309,34.133-34.133v-30.601l14.566-14.566c3.337-3.337,3.337-8.73,0-12.066l-14.558-14.558l0.06-30.609
              c0-18.825-15.343-34.133-34.202-34.133c-4.719,0-8.533,3.814-8.533,8.533c0,4.719,3.814,8.533,8.533,8.533
              c9.446,0,17.135,7.654,17.135,17.05l-0.068,34.133c-0.009,2.27,0.887,4.454,2.5,6.05l11.034,11.034l-11.034,11.034
              C316.629,302.763,315.733,304.93,315.733,307.2z"/>
            <path d="M244.77,349.423c0.896,0.299,1.809,0.444,2.697,0.444c3.576,0,6.903-2.261,8.09-5.837l8.533-25.6
              c1.493-4.471-0.922-9.301-5.393-10.786c-4.497-1.493-9.301,0.922-10.786,5.393l-8.533,25.6
              C237.884,343.108,240.299,347.938,244.77,349.423z"/>
          </g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>

          <h4 class="featureTitle">Text Editor</h4>
          <div id='descriptionContainer'><p class="description">Make real-time edits to the same text editor as your pair.</p></div>
        </div>
        <div id="feature1">
          <?xml version="1.0" encoding="iso-8859-1"?>
          <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve"><g><g>
              <path d="M466.45,49.374c-7.065-8.308-17.368-13.071-28.267-13.071H402.41v-11.19C402.41,11.266,391.143,0,377.297,0H134.705
                c-13.848,0-25.112,11.266-25.112,25.112v11.19H73.816c-10.899,0-21.203,4.764-28.267,13.071
                c-6.992,8.221-10.014,19.019-8.289,29.624c9.4,57.8,45.775,108.863,97.4,136.872c4.717,11.341,10.059,22.083,16.008,32.091
                c19.002,31.975,42.625,54.073,68.627,64.76c2.635,26.644-15.094,51.885-41.794,57.9c-0.057,0.013-0.097,0.033-0.153,0.046
                c-5.211,1.245-9.09,5.921-9.09,11.513v54.363h-21.986c-19.602,0-35.549,15.947-35.549,35.549v28.058
                c0,6.545,5.305,11.85,11.85,11.85H390.56c6.545,0,11.85-5.305,11.85-11.85v-28.058c0-19.602-15.947-35.549-35.549-35.549h-21.988
                V382.18c0-5.603-3.893-10.286-9.118-11.52c-0.049-0.012-0.096-0.028-0.145-0.04c-26.902-6.055-44.664-31.55-41.752-58.394
                c25.548-10.86,48.757-32.761,67.479-64.264c5.949-10.009,11.29-20.752,16.008-32.095c51.622-28.01,87.995-79.072,97.395-136.87
                C476.465,68.392,473.443,57.595,466.45,49.374z M60.652,75.192c-0.616-3.787,0.431-7.504,2.949-10.466
                c2.555-3.004,6.277-4.726,10.214-4.726h35.777v21.802c0,34.186,4.363,67.3,12.632,97.583
                C89.728,153.706,67.354,116.403,60.652,75.192z M366.861,460.243c6.534,0,11.85,5.316,11.85,11.85v16.208H134.422v-16.208
                c0-6.534,5.316-11.85,11.85-11.85H366.861z M321.173,394.03v42.513H191.96V394.03H321.173z M223.037,370.331
                c2.929-3.224,5.607-6.719,8.002-10.46c7.897-12.339,12.042-26.357,12.228-40.674c4.209,0.573,8.457,0.88,12.741,0.88
                c4.661,0,9.279-0.358,13.852-1.036c0.27,19.239,7.758,37.45,20.349,51.289H223.037z M378.709,81.803
                c0,58.379-13.406,113.089-37.747,154.049c-23.192,39.03-53.364,60.525-84.956,60.525c-31.597,0-61.771-21.494-84.966-60.523
                c-24.342-40.961-37.748-95.671-37.748-154.049V25.112c0-0.78,0.634-1.413,1.412-1.413h242.591c0.78,0,1.414,0.634,1.414,1.413
                V81.803z M451.348,75.192c-6.702,41.208-29.074,78.51-61.569,104.191c8.268-30.283,12.631-63.395,12.631-97.58V60.001h35.773
                c3.938,0,7.66,1.723,10.214,4.726C450.915,67.688,451.963,71.405,451.348,75.192z"/></g></g><g><g>
              <path d="M327.941,121.658c-1.395-4.288-5.103-7.414-9.566-8.064l-35.758-5.196l-15.991-32.402
                c-1.997-4.044-6.116-6.605-10.626-6.605c-4.511,0-8.63,2.561-10.626,6.605l-15.991,32.402l-35.758,5.196
                c-4.464,0.648-8.172,3.775-9.566,8.065c-1.393,4.291-0.231,8.999,2.999,12.148l25.875,25.221l-6.109,35.613
                c-0.763,4.446,1.064,8.938,4.714,11.59c3.648,2.651,8.487,3,12.479,0.902L256,190.32l31.982,16.813
                c1.734,0.911,3.627,1.36,5.512,1.36c2.456,0,4.902-0.763,6.966-2.263c3.65-2.652,5.477-7.144,4.714-11.59l-6.109-35.613
                l25.875-25.221C328.172,130.658,329.334,125.949,327.941,121.658z M278.064,146.405c-2.793,2.722-4.068,6.644-3.408,10.489
                l3.102,18.09l-16.245-8.541c-1.725-0.908-3.62-1.36-5.514-1.36c-1.894,0-3.788,0.454-5.514,1.36l-16.245,8.541l3.102-18.09
                c0.66-3.844-0.615-7.766-3.408-10.489l-13.141-12.81l18.162-2.64c3.859-0.56,7.196-2.985,8.922-6.482l8.123-16.458l8.122,16.458
                c1.727,3.497,5.062,5.921,8.922,6.482l18.162,2.64L278.064,146.405z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>

          <h4 class="featureTitle">Random Toy Problem</h4>
          <div id='descriptionContainer'><p class="description">Start a Session and receive a prompt that comes with helpful hints and tests. </p></div>
        </div>
      </div>
    </div>
    <div id="meet">
      <h3 id="header">Meet the team</h3>
      <hr width='9%' style='margin-top: 68px'>

      <h3 id="teamdescription">We are four dedicated engineers that brought something unique to the table.</h3>
      <div id="team">

        <div id="teammember">
          <img class='round' src='assets/jeff.jpeg'></img>
          <h4 class='teammembername'>Jeff S.</h4>
          <div class='teammemberdescriptioncontainer'><p class='teammemberdescription'>I like to make snow angels in the winter. I'm really tall so I know very well what the top of people's heads look like.</p></div>
          <a href="https://github.com/shindelus"><img src='assets/github-logo.png' style="margin: 0 auto; position: relative; display: block; width: 30px;  justify-content: center; margin-top: 100px"></img></a>
        </div>

        <div id="teammember">
          <img class='round' src='assets/wes.jpeg'></img>
          <h4 class='teammembername'>Wes C.</h4>
          <div class='teammemberdescriptioncontainer'><p class='teammemberdescription'>I root for the Detroit Lions which means I know loyalty and what it means to hate yourself.</p></div>
          <a href="https://github.com/weschoi"><img src='assets/github-logo.png' style="margin: 0 auto; position: relative; display: block; width: 30px;  justify-content: center; margin-top: 100px"></img></a>
        </div>

        <div id="teammember">
          <img class='round' src='assets/dan.jpeg'></img>
          <h4 class='teammembername'>Dan A.</h4>
          <div class='teammemberdescriptioncontainer'><p class='teammemberdescription'>I have this weird on-and-off craving for pretzels every few days that most people don't understand.</p></div>
          <a href="https://github.com/dandersonstack"><img src='assets/github-logo.png' style="margin: 0 auto; position: relative; display: block; width: 30px;  justify-content: center; margin-top: 100px"></img></a>
        </div>
        <div id="teammember">
          <img class='round' src='assets/david.jpeg'></img>
          <h4 class='teammembername'>David V.</h4>
          <div class='teammemberdescriptioncontainer'><p class='teammemberdescription'>I'm a quiet code genius who contains gems of useful information that is available to anyone who asks.</p></div>
          <a href="https://github.com/DavidVassett"><img src='assets/github-logo.png' style="margin: 0 auto; position: relative; display: block; width: 30px;  justify-content: center; margin-top: 100px"></img></a>
        </div>

      </div>
    </div>


    <div id="footer">
      <div id="footercontent">
        <h5 id="copyright">© 2017 Peared.io</h5>
        <a href="https://github.com/charmingCharmanders/peared.io"><h5 id="copyright"><button id="github"> go to the github</button></h5></a>
      </div>
    </div>


</body>

</html>
