<!doctype html>
<html>

<head>
  <script>
  const protocol = window.location.protocol;
  const hostname = window.location.hostname;
  if ((hostname !== '127.0.0.1' && hostname !== 'localhost') && protocol === 'http:') {
    location.href = location.href.replace('http://', 'https://');
  }

  </script>
  <title>Code with Friends | Peared.io</title>
  <link rel="shortcut icon" href="assets/p.ico">
  <link rel="stylesheet" href="assets/login.css">
</head>

<body>
  <div id="main-container">
  
    <!-- Logo + Tagline -->
    <div id="link-container">
      <a href="https://peared.io/" id="logo">Peared.io</a>
    </div>
    <h5>code with friends</h5>

    <!-- Error Message -->
    <% if (message.length) { %>
      <div class="alert alert-danger">
        <span id="error"><%= message %></span>
      </div>
    <% } %>

    <!-- Form -->
    <form action='/login' method="post">
      <h4>email</h4>
      <input type="text" name="email" id="input"></input>
      <h4>password</h4>
      <input id="input" type="password" name="password"></input>
      <input class='button login' type="submit" value="log in"></input>
    </form>

    <!-- Github Button -->
    <a href="/auth/github" class='button github'>sign in with github</a>

    <!-- Signup -->
    <div class="signup-container">
      <a href='/signup' id="signup-invite">sign up for an account</a>
    </div>
  </div>
</body>

</html>