<!doctype html>
<html>

<head>
    <script>
      const protocol = window.location.protocol;
      const hostname = window.location.hostname;
      if ((hostname !== '127.0.0.1' && hostname !== 'localhost') && protocol === 'http:') {
          location.href = location.href.replace('http://', 'https://');
      }
    </script>
    <title>Code with Friends | Peared.io</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800" rel="stylesheet">
    <link rel="shortcut icon" href="assets/p.ico">
    <link rel="stylesheet" href="assets/login.css">
</head>
<body>
<div id="main">
<div id="container">
  <h2 id="logo">Peared.io</h2>
  <h5>code with friends</h5>
    <div id="loginsquare">
      <h4>email</h4>
      <input id="input"></input>
      <h4>password</h4>
      <input id="input"></input>
      <input class='loginbuttons' id="loginbutton" type="submit" value="login"></input>
      <a href="/auth/github"><input class='loginbuttons' id="github" type="submit" value="sign in with github"></input></a>
    </div>
  </div>
  </div>
</body>

</html>


